.wrapper__menutoggle {
    display: none;
}

.menutoggle__icon {
    display: none;
}

@media (max-width:1480px) {
    body {
        padding: 0;
    }

    .wrapper {
        min-width: auto;
        width: 85%;
    }

}

@media (max-width:1250px) {

    .wrapper {

        width: 89%;
        margin-left: 3rem;
    }

    .page__name {
        font-size: 6rem;
        margin-bottom: 1rem;
        position: relative;
        margin-left: 2rem;
    }

}

@media (max-width:1150px) {

    .wrapper {
        width: 88%;
        margin-left: 2.3rem;
    }

    .page__name {
        font-size: 6rem;

    }

    .form__btn {
        padding: 1rem 1rem;
        font-size: 1rem;
    }
}

@media (max-width:1080px) {

    body {
        background-image: none;
        position: static;
    }

    .wrapper {
        overflow: hidden;
        min-height: 100%;
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
        grid-template-areas: 'content';
        grid-template-columns: 100%;
    }

    .wrapper__content {
        border-radius: 0;
        background: transparent;
        height: 100%;

    }

    .wrapper__aside {
        display: block;
        position: absolute;
        top: 0;
        right: 0rem;
        bottom: 0;
        max-width: 33rem;
        border-radius: 0rem;
        text-align: center;
        overflow: auto;
        transition: all 300ms ease-in-out;
        z-index: 999;
        margin-right: -100%;
        opacity: 0;

    }


    .wrapper__aside--visible {
        width: 100%;
        opacity: 1;
        margin-right: 0;

    }

    .wrapper__aside--hidden {
        margin-right: -100%;
        opacity: 0;
    }



    .wrapper__menu {
        position: static;
        margin: 3rem 0rem;

    }

    .userinfo__containerimg {
        width: 13rem;
        margin-top: 2rem;
        display: inline-block;
    }

    .userinfo__name {
        font-size: 2.5rem;
        margin-top: 1.5rem;
    }

    .menu__list {

        width: 100%;
        background-color: transparent;
        box-shadow: none;
        margin-right: 0;
        text-align: center;
        margin-left: 1rem;
        padding: 0;

    }

    .menu__overlay {
        display: static;
        opacity: 0.7;
        width: 12rem;
        border-radius: 2rem;
        font-size: 2rem;
    }

    .menu__option:hover .menu__overlay {
        opacity: 1;
        right: 0%;
        border-radius: 2rem;



    }




    .menu__icon {
        display: none;
    }

    .content__page {
        border-radius: 0;
        height: 100vh;
    }



    .wrapper__menutoggle {
        z-index: 1000;
        display: block;
        position: absolute;
        width: 4rem;
        height: 4rem;
        line-height: 5rem;
        text-align: center;
        background-color: var(#000000);
        right: 1rem;
        top: 1rem;
        font-size: 2rem;
        border-radius: 3rem;
        color: var(--color-secondary);
        cursor: pointer;
        transition: all 400ms ease-in-out;

    }

    .menutoggle__icon {
        display: block;
        position: absolute;
        top: 25%;
        right: 29%;
        transition: all 200ms ease-in-out;
    }


    .fa-bars{
        opacity: 1;
    }
    .fa-xmark {
        opacity: 0;
        font-size: 2.5rem;
        position: absolute;
    }


}

@media (max-width:800px) {

    .about__personalinfo {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
        width: 100%;
    }

    .personalinfo__data {
        flex-basis: 40%;
        padding: 5rem 5rem;
    }

    .gallery__item {
        flex-basis: 50%;
    }

}

@media (max-width:620px) {
    .page__name {
        font-size: 4rem;
    }

    .resume__container {
        flex-direction: column;
    }

    .contact__container {
        flex-direction: column;
    }

     .personalinfo__option {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:480px) {
    .page__name {
        font-size: 3rem;
        line-height: 5rem;
    }
    

.timelines__company{
    font-size: 1rem;
}

    .gallery__item {
        flex-basis: 100%;
    }

}