:root {
    --color-principal: #FFFFFF;
    --color-secondary: #22b455;
    --color-background: #f2f7f9;
    --color-transparent: transparent;
    --color-icon: #b5b6b7;
    --color-title: #222222;
    --color-subtitle: #888;
    --color-txt: #555;
}

@font-face {
    font-family: "JMH Typewriter";
    src: url("/assets/fonts/jmh_typewriter/JMH\ Typewriter-Thin.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/*Estilos generales*/
html {
    font-size: 62.5%;
    /*con esto puedo manejarme en rem para todo los elementos de forma facil*/

}

body {
    width: 100%;
    height: auto;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-background);

    color: var(--color-txt);
    overflow: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-title);
}

/*Background*/

body {
    background-image: url(../img/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;


}


/*Estructura Principal*/

.wrapper {
    position: relative;
    min-width: 1290px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;
    display: grid;
    grid-template-areas:
        "aside content"
    ;
    grid-template-columns: 30% 70%;
    border-radius: 5rem;
    box-shadow: 0 0 100px -5px;


}

/*barra lateral*/

.wrapper__aside {
    grid-area: aside;
    border-radius: 5rem 0 0 5rem;
    overflow: auto;
    overflow-x: hidden;

}

.aside__userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100%;
    min-width: 30rem;
    background-color: var(--color-secondary);
    color: var(--color-principal);
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f9b0f, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.userinfo__containerimg {
    position: relative;
    display: inline-block;
    width: 22rem;
    margin-top: 8rem;
    z-index: 1;

}

.userinfo__img {
    width: 100%;
    background-color: var(--color-principal);
    border: 2px solid var(--color-principal);
    border-radius: 20rem;
}

/*Pseudoelemento*/

.userinfo__containerimg::after {
    content: "hola";
    position: absolute;
    top: -4%;
    left: -4%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #FFF, #fff 1.5px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    border-radius: 30rem;
    opacity: 0.5;
}

.userinfo__name {
    color: var(--color-principal);
    font-size: 3rem;
    margin-top: 3rem;
}



.userinfo__job {
    font-size: 2rem;
    font-weight: 200;
    color: var(--color-principal);
}

.userinfo__links {
    margin-bottom: 4rem;


}

.links__social {
    display: flex;
    text-align: center;
    margin-top: 2rem;

}

.social__option {

    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    line-height: 3rem;
    opacity: 0.9;
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
    margin: 0 0.5rem;
}

.social__icon {
    color: var(--color-principal);
}

.social__option:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20);
}

.userinfo__buttons {
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.userinfo__btn {
    border: 2px solid var(--color-principal);
    padding: 3rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-radius: 4rem;
    color: var(--color-principal);
    box-shadow: 0 15px 15px -3px rgba(0, 0, 0, 0.25);
}

.userinfo__btn:hover {
    background-color: var(--color-principal);
    color: var(--color-secondary);
    transition: all 400ms ease-in-out;
}

.userinfo_footer {
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem;
}

.wrapper__content {
    grid-area: content;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #0f9b0f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 0 10rem 10rem 0;
    height: 100%;
    min-height: 100%;

}

.content__page {
    min-height: 100%;
    background-color: var(--color-principal);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "JMH Typewriter";

}

.page__name {
    font-size: 6rem;
    margin-bottom: 1rem;
    position: relative;

}

.page__name:after {
    content: "";
    border-left: 1px solid black;
    background-color: var(--color-principal);
    width: 100%;
    height: 100%;
    right: 0;
    position: absolute;
    animation: maquinadeescribir 3s infinite alternate steps(17);
}

@keyframes maquinadeescribir {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }

}

.page__job {
    font-size: 2rem;
    font-weight: lighter;
    color: var(--color-subtitle);
    text-align: center;
}







.wrapper__menu {
    display: block;
    position: absolute;
    top: 0;
    right: -12rem;
    background-color: var(--color-transparent);
    min-width: 10rem;
}

.menu__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color-principal);
    width: 60%;
    min-height: 30rem;
    box-shadow: 0 0 3rem -0.5rem rgba(0 0 0 0.15);
    border-radius: 5rem;


}

.menu__icon {
    color: var(--color-icon);
    font-size: 3rem;
    transition: all 400ms ease-in-out;

}

.menu__option {
    display: block;
    width: 100%;
    text-align: center;
}

.menu__option:hover .menu__icon {
    color: var(--color-secondary)
}

.menu__overlay {
    position: absolute;
    right: 0;
    margin-top: -3.2rem;
    opacity: 0;
    display: block;
    color: var(--color-principal);
    padding: 0.5rem;
    background-color: var(--color-secondary);
    white-space: nowrap;
    transition: all 300ms ease-in-out;

}

.menu__option:hover .menu__overlay {
    opacity: 1;
    right: 100%;
    border-radius: 2rem;
}


/*estilos generales : Sobremi y otras paginas*/

/*para el scroll*/
.content__about, .content__resume, .content__portfolio , .content__contact{
    display: block;
    height: 100%;
    min-height: 100%;
    padding: 8rem;
    overflow: auto;
}

.about__header ,.resume__header, .portfolio__header , .contact__header{
    margin-bottom: 4rem;
    display: inline-block;
}

.about__title ,.resume__title ,.portfolio__title , .contact__title{
    font-size: 4rem;
    position: relative;
}

.title__color {
    color: var(--color-secondary);
}

.about__title::after ,.resume__title::after ,.portfolio__title::after , .contact__title::after{
    content: "";
    position: absolute;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 1px, transparent 0px, transparent 100%);
    background-size: 4px 4px;
    border-radius: 3rem;
    width: 5rem;
    height: 3rem;
    top:3.2rem;
    right: -2.5rem;
}


.about__personalinfo{
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    width: 100%;
}

.personalinfo__bio{
    flex-basis: 60%;
}

.personalinfo__data{
    flex-basis: 40%;
    padding: 0 5rem;
}

.personalinfo__description{
    font-size: 1.7rem;
    line-height: 2rem;
    text-align: justify;

}

.personalinfo__option{
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.personalinfo__title{
    margin-right: 0.5rem;
    color: var(--color-secondary);
    font-weight: bold;
}


/*estilos timelines*/

.resume__container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.resume__left{
    flex-basis: 70%;
    margin-right: 2rem;
}

.resume__timelines{
    margin-bottom: 5rem;
}

.timelines__item{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}
.timelines__header{
    flex-basis: 30%;
    text-align: right;
    padding-right: 2.5rem;
}

.timelines__year{
    margin: 0.3rem 0;
    line-height: 2rem;
    font-size: 1.4rem;
}
.timelines__company{
    display: block;
    font-size: 1.4rem;
    font-weight: lighter;
    color: var(--color-icon);
}
.timelines__description{
    width: 70%;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
}

.timelines__title{
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}
.timelines__text{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.timelines__line{
    width: 0.1rem;
    background-color: #f0f1f1;
    position:absolute;
    top:0;
    left:30%;
    bottom: -1.8rem;
}
.timelines__line::before{
    content:"";
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-secondary);
    border-radius: 1rem;
    position: absolute;
    margin-top: 0.4rem;
    margin-left: -0.7rem;
    opacity: 0.25;
}

.timelines__line::after{
    content:"";
    width: 1rem;
    height: 1rem;
    background-color: var(--color-secondary);
    border-radius: 1rem;
    position: absolute;
    margin-top: 0.7rem;
    margin-left: -0.4rem;
    opacity: 1;
    border: 1px solid var(--color-icon);
}
.resume__right{
    flex-basis: 30%;
}

.resume__skills{
    width: 100%;
}

.skills__title{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.skills__text{
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 0.2rem;
}

.skills__number{
    font-size: 1.2rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
    color: var(--color-subtitle);
}

.skills__progressbar{
    height: 1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 1rem;
    background-color: var(--color-principal);
    margin: 0.2rem;

}

.skills__percentage{
    background-color: var(--color-secondary);
    border: 2px solid var(--color-principal);
    height: 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

.skills__percentage--p1{
    width: 80%;
}
.skills__percentage--p2{
    width: 85%;
}
.skills__percentage--p3{
    width: 60%;
}
.skills__percentage--p4{
    width: 50%;
}
.skills__percentage--p5{
    width: 70%;
}

.portfolio__gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery__item{
    flex-basis: 33%;
    padding: 0.7rem;
}

.gallery__img{
    transition: all 300ms ease-in-out;
}

.gallery__item:hover .gallery__img{
    transform: scale(1.1);

}

.gallery__image{
    overflow: hidden;
}

.gallery__title{
    font-size: 1.6rem;
    padding: 1.5rem 0;
    font-weight: bold;
}

/*pagina contacto*/

.contact__container{
    display: flex;
    
}

.contact__info{
    flex-basis: 30%;
    padding: 0 1.5rem;
}

.contact__formulary{
    flex-basis: 70%;
    padding: 0 1.5rem;
}

.contact__item{
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 1rem;
    text-align: center;
    background-color: var(--color-background);
    border: 1px solid var(--color-secondary);
}

.contact__subtitle{
    padding-bottom: 4rem;
    text-align: center;
}
.contact__ico{
    font-size: 3.3rem;
    color: var(--color-secondary);
}

.contact__subtitle2{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.form__container{
    display: flex;
    flex-direction: row;
}

.form__left{
    flex-basis: 47%;
    margin-right: 2rem;
}

.form__group{
    position: relative;
    margin-bottom: 2.5rem;
}

.form__input{
    position: relative;
    width: 100%;
    display: block;
    height: 4rem;
    font-size: 1.5rem;
    padding: 1rem 1.2rem;
    border: 0.2rem solid var(--color-subtitle);
    border-radius: 0.5rem;
    outline: none;
    box-shadow: 0 1rem 1rem -1rem rgba(0,0,0,20);
    background-color: transparent;
    line-height: 2.1rem;
    background: 0 0;
 
    z-index: 1;
}
.form__input:focus{
    border: 0.2rem solid var(--color-secondary);
}

.form__label{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    z-index: 1;
    color:var(--color-title);
    transition: all 300ms ease-in-out;
    pointer-events: none;
}

.form__input:focus~label,
.form__input:not(:placeholder-shown)~label{
    top:-2rem;
    left:0;
    z-index: 1;
    font-size: 1.3rem;
    color: var(--color-secondary);
    font-weight: bold;
}
.form__input::-webkit-input-placeholder{
    color:transparent;
}
.form__input::-moz-placeholder{
    color: transparent;
}



.form__right{
    flex-basis: 50%;
    max-width: 50%;
    max-height: 100%;
}
.form__group--textarea{
    height: 100%;
}
.form__input--textarea{
    display: block;
    resize: none;
    height: 100%;
}

.form__btn{
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    border: 0.2rem solid var(--color-secondary);
    color: var(--color-title);
    background-color: var(--color-principal);
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem -0.8rem rgba(0,0,0,0.22);
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.form__btn:hover{
    background-color: var(--color-secondary);
    color: var(--color-principal);
}

.contact__map{
    width: 100%;
    min-height: 15rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.contact__iframe{
    width: 100%;
    height: 14rem;
}


